

{% extends 'home/base.html' %} 

{% block content %}


<form name="login" action="/home/login_authn/" method="post" required="required">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Log in</h1></legend>
            <label for="user_name">Enter Your username: </label><br>
            <input type="text" name="username" id="username" value="02" placeholder="username" required="required"><br>
            <label for="password">Enter password: </label><br>
            <input type="text" name="password" id="password" value="002"><br><br>
    </fieldset>
    <input type="submit" value="OK log in">
</form>


{% endblock %}