

{% extends 'home/base.html' %} 

{% block content %}


<form name="login" action="/home/authenticate_login/" method="post" required="required">
    {% csrf_token %}
    <fieldset>
        <legend><h1>log in</h1></legend>
            <label for="user_name">Enter Your username: </label><br>
            <input type="text" name="username" id="username" value="test01" placeholder="username" required="required"><br>
            <label for="password">Enter password: </label><br>
            <input type="text" name="password" id="password" value="test01_password"><br><br>
    </fieldset>
    <input type="submit" value="ok log in">
</form>


{% endblock %}