

{% extends 'home/base.html' %} 

{% block content %}

<style>
table, th, td {
  border: 1px solid black;
}
</style>

{% if password_data_lookup %}
    <ul>
    {% for data in password_data_lookup %}
        {% comment %} <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> {% endcomment %}
        <li><a href="/home/{{ data.subject }}/">{{ data.subject }}</a></li>
    {% endfor %}
    </ul>

    <h1>Item List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>subject</th>
                <th>account</th>
                <th>password</th>
            </tr>
        </thead>
        <tbody>
            {% for data in password_data_lookup %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.subject }}</td>
                <td>{{ data.account }}</td>
                <td>{{ data.password }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
{% else %}
    <p>no this data.</p>
{% endif %}




{% endblock %}