

{% extends 'home/base.html' %} 

{% block content %}

<br>
<br>
<a href="/home/password_lookup/">
    <button type="button" class="btn btn-secondary">List all password data</button>
</a>

<br>
<br>

<form name="lookup" action="/home/password_lookup/" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Retrieve password by a key word</h1></legend>
            <label for="subject">Enter the key word (subsring of the subject): </label><br>
            <input type="text" name="subject" id="subject" value="site"><br><br>
    </fieldset>
    <input type="submit" value="OK Retrieve">
</form>

<br>

<form name="add_new" action="/home/password_add_new/" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Add new password</h1></legend>
            <label for="subject">Enter the subject info: </label><br>
            <input type="text" name="subject" id="subject" value="website01"><br>
            <label for="account">Enter the account: </label><br>
            <input type="text" name="account" id="account" value="account01" placeholder="account" required="required"><br>
            <label for="password">Enter the password: </label><br>
            <input type="text" name="password" id="password" value="001"><br><br>
    </fieldset>
    <input type="submit" value="OK Add">
</form>


<br>
<br>


<br>
<br>

{% endblock %}