

{% extends 'home/base.html' %} 

{% block content %}


<form name="add_new" action="/home/password_add_new/" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>I want to add new password</h1></legend>
            <label for="subject">Enter the subject info: </label><br>
            <input type="text" name="subject" id="subject" value="website01"><br>
            <label for="account">Enter the account: </label><br>
            <input type="text" name="account" id="account" value="account01" placeholder="account" required="required"><br>
            <label for="password">Enter the password: </label><br>
            <input type="text" name="password" id="password" value="01"><br><br>
    </fieldset>
    <input type="submit" value="OK add">
</form>

<form name="lookup" action="/home/password_lookup/" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>I want to retrieve (or modify) my password</h1></legend>
            <label for="subject">Enter the subject info: </label><br>
            <input type="text" name="subject" id="subject" value="site"><br><br>
    </fieldset>
    <input type="submit" value="OK retrieve">
</form>
<br>
<br>

<a href="/home/password_lookup/">
    <button type="button" class="btn btn-secondary">List all password data</button>
</a>
<br>
<br>
<br>
<br>

{% endblock %}