

{% extends 'home/base.html' %} 

{% block content %}

<style>
table, th, td {
  border: 1px solid black;
}
</style>

{% if is_key_wrong %}
    <p>Wrong Key</p>
    <br>

    <a href="/home/">
        <button type="button" class="btn btn-secondary">Back to Home page</button>
    </a>
    <br>
{% else %}
{% endif %}

{% if password_data_lookup %}

    <h1>Data List</h1>
    <table class="table table-success table-hover">
        <thead>
            <tr>
                {% comment %} <th>ID</th> {% endcomment %}
                <th>Subject</th>
                <th>Account</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            {% for data in password_data_lookup %}
            <tr>
                {% comment %} <td>{{ data.id }}</td> {% endcomment %}
                <td>{{ data.subject }}</td>
                <td>{{ data.account }}</td>
                <td>{{ data.password_decrypted }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
{% else %}
    <p>No data.</p>
{% endif %}

<a href="/home/password_main/">
    <button type="button" class="btn btn-secondary">Back</button>
</a>


{% endblock %}