

{% extends 'home/base.html' %} 

{% block content %}

{% if latest_users %}
    <ul>
    {% for user in latest_users %}
        {% comment %} <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> {% endcomment %}
        <li><a href="/home/{{ user.id }}/">{{ user.user_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No users net.</p>
{% endif %}


<form name="register" action="/home/authenticate_reg/" method="post" required="required">
    {% csrf_token %}
    <fieldset>
        <legend><h1>sign up</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <label for="user_name">Enter Your username: </label><br>
            <input type="text" name="username" id="username" value="" placeholder="username" required="required"><br>
            <label for="password">Enter password: </label><br>
            <input type="text" name="password" id="password" value=""><br><br>
    </fieldset>
    <input type="submit" value="ok sign up">
</form>


{% endblock %}